
@{
    ViewBag.Title = "UploadImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section events {
    <script src="~/Scripts/scriptUploadImages.js"></script>
    <link href="~/Content/styleUploadImages.css" rel="stylesheet" />
}

<form method="post" enctype="multipart/form-data">
    <div id="wrapper">
        <div id="drop-area">
            <h3 class="drop-text">Arrastra las imagenes aqui</h3>
            <h4>Tambien puedes dar <label style="color: blue">click<input type="file" multiple hidden /></label> para abrir el explorador de archivos</h4>
        </div>
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>

