
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.buttonWidth{
    width:100%;
}
.parallax-container .parallax {
        position: static !important;
}

.btnMenu {
    height: 100px;
    padding: 0px !important;
}

.btnMenu:hover{
    height:150px;
}

.btnMenuImagen {
    background-image:url(./images/nikon-camera-wallpaper-4101.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.card-title {
    right:0 !important;
    padding:12px !important;
    left: auto !important;
}