
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.buttonWidth{
    width:100%;
}
.parallax-container .parallax {
        position: static !important;
}

.btnMenu {
    height: 100%;
    width:100%;
}

.btnMenuImagen {
    background-image:url(./images/nikon-camera-wallpaper-4101.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.card-title {
    right:0 !important;
    padding:12px !important;
    left: auto !important;
}

.card-content-padding {
    padding: 0px 24px 24px 24px !important;
}

thead, tbody {
    display: block;
}

tbody {
    height: 300px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

table {
    width: 100%; 
}

tbody td, thead th {
    width: 250px; 
}

@media only screen and (max-width: 992px) {
    tbody td, thead th {
        width: auto; 
    }
    tbody {
        height:150px;
    }
    tr>td:last-child {
        display:none;
    }
}