.divAddButton {
    padding: 10rem 0 0 0;
    text-align: center;
}

.iconInput {
    font-size: 1.5rem !important;
    padding: 0 0.5rem;
}

.btn {
    width: 100%;
    margin: 1.5em 0;
    height: 3rem;
}