/*#wrapper {
 text-align:center;
 margin:0 auto;
 padding:10px;
 width:100%;
 
}*/

#drop-area {
 /*margin-top:20px;
 margin-left:220px;
 width:550px;*/
 height:200px;
 background-color:white;
 border:10px dashed grey;
}

.drop-text {
 color:grey;
 font-size:25px;
 font-weight:bold;
 text-align:center;
}

.text {
    text-align: center;
    color: grey;
}

.card-content {
    padding: 10px !important;
}

.btn {
    width:100%;
}