@using RepositorioPictureManager.Models
@model List<SESION>

@{
    ViewBag.Title = "Sesion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12 m8 l8 xl8 offset-m1 offset-l1 offset-xl1">
        <div class="card">
            <div class="card-content">
                @if (Model != null)
                {
                    <div class="row">
                        @foreach (SESION s in Model)
                        {
                            <div class="col s2">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <div class="card-title">@s.NAME</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

