
@{
    ViewBag.Title = "menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section parallax{
    <script>
        
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
}

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12 m3 l2 xl2 offset-m2 offset-l2 offset-xl2 card btnMenu">
                <div class="card-image btnMenu btnMenuImagen">
                    <span class="card-title">Imágenes</span>
                </div>
                @*@Html.ActionLink("Subir Imagenes", "subirImagenes", "admin", new { @class = "btn blue waves waves-effect waves-darken buttonWidth" })*@
            </div>
            <div class="col s12 m3 l2 xl2 offset-m1 offset-l1 offset-xl1 card btnMenu">
                <div class="card-image btnMenu btnMenuImagen">
                    <span class="card-title">Sesiones</span>
                </div>
                @*@Html.ActionLink("Editar Imagenes", "editarImagenes", "admin", new { @class = "btn blue darken-1 waves waves-effect waves-darken buttonWidth" })*@
            </div>
            <div class="col s12 m3 l2 xl2  offset-m1 offset-l1 offset-xl1 card blue btnMenu">
                <div class="card-image btnMenu btnMenuImagen">
                    <span class="card-title">Participantes y trabajos</span>
                </div>
                @*@Html.ActionLink("Sesiones", "sesiones", "admin", new { @class = "btn purple waves waves-effect waves-darken buttonWidth" })*@
            </div>
            <div class="col s12 m3 l2 xl2  offset-m1 offset-l1 offset-xl1 card blue btnMenu">
                <div class="card-image btnMenu btnMenuImagen">
                    <span class="card-title">Comisiones</span>
                </div>
                @*@Html.ActionLink("Sesiones", "sesiones", "admin", new { @class = "btn purple waves waves-effect waves-darken buttonWidth" })*@
            </div>
        </div>
    </div>


</div>


