
@{
    ViewBag.Title = "menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section events {
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $("#btnImg").click(function () {
                $("#modalImg").modal('open');
            });
            $("#btnSesion").click(function () {
                $("#modalSesion").modal('open');
            });
            $("#btnParTar").click(function () {
                $("#modalParTar").modal('open');
            });
            $("#btnComision").click(function () {
                $("#modalComision").modal('open');
            });
        });
    </script>
}
<div class="row">
    <div class="col s12">
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m4 l3 xl2 offset-m3 offset-l3 offset-xl3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="~/Content/images/iconoSubirImagen.png"/>
                    </div>
                    <div class="card-content">
                        <a class="center-align" id="btnImg"><h5>Imágenes</h5></a>
                    </div>
                </div>
                
            </div>
            <div class="col s12 m4 l3 xl2 offset-m3 offset-l2 offset-xl1">
                <div class="card">
                    <div class="card-image">

                    </div>
                    <div class="card-content">
                        <a class="center-align" id="btnSesion"><h5>Sesiones</h5></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 l3 xl2  offset-m3 offset-l3 offset-xl3 btnMenu">
                <div class="card">
                    <div class="card-image">

                    </div>
                    <div class="card-content">
                        <a class="center-align" id="btnParTar"><h5>Participantes y trabajos</h5></a>
                    </div>
                </div>
                
            </div>
            <div class="col s12 m4 l3 xl2  offset-m3 offset-l2 offset-xl1 btnMenu">
                <div class="card">
                    <div class="card-image">

                    </div>
                    <div class="card-content">
                        <a class="center-align" id="btnComsion"><h5>Comisiones</h5></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="modalImg" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                @Html.ActionLink("Subir Imagenes", "admin")
            </div>
        </div>
    </div>
</div>

<div id="modalSesion" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
</div>

<div id="modalParTar" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s4">
                @Html.ActionLink("Participantes", "Partners", "admin")
            </div>
            <div class="col s4 offset-s2">
                @Html.ActionLink("Trabajos", "Works", "admin")
            </div>
        </div>
    </div>
</div>

<div id="modalComision" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
</div>