
@{
    ViewBag.Title = "Sesion";
}


<div class="row">
    <div class="col s12 m4 l4 xl4">
        <div class="card">
            <div class="card-title">
                CREAR SESION
            </div>
            <form method="post">
                <div class="input-field">
                    <input type="text" />
                    <label></label>
                </div>
            </form>
        </div>
    </div>
</div>

